@media (max-width: 1240px) {
  //header
  .header {
    min-height: 60px;
  }
  .menu ul {
    gap: 15px;
  }
  .menu li {
    font-size: 12px;
    line-height: 56px;
  }
  .logo img {
    width: 50px;
  }
  .header__btn {
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    color: #fff;
    padding: 0 19px;
    border-radius: 3px;
    position: relative;
  }
  .header__btn-measure {
    background-color: #ef7f04;
    &::before {
      content: '';
    }
  }
  .header__btn-calc {
    background-color: #3b3a63;
    &::before {
      content: '';
    }
  }

  //banner
  .banner__inner {
    flex-direction: column;
    align-items: center;
    padding: 70px 85px;
  }
  .banner__description {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 50px;
  }
  .banner__benefit:last-child {
    margin-right: 0;
  }
  .banner__benefit {
    margin-right: 40px;
  }
  .banner__form {
    padding-bottom: 43px;
  }
  .banner__form::after {
    content: '';
  }

  //services
  .services__tiles {
    justify-content: center;
  }
  .services__item {
    flex-basis: 70%;
  }
  .services__item-titlebox {
    padding-right: 275px;
  }
}

@media (max-width: 1020px) {
  .menu li {
    margin-right: 13px;
    &.menu__item--measure {
      margin-right: 10px;
      margin-left: 25px;
    }
  }

  //services
  .services__item-titlebox {
    padding-right: 150px;
  }
}

@media (max-width: 865px) {
  .btn:hover {
    box-shadow: 0px 0px 0px 0px;
  }
  .header__inner {
    min-height: 60px;
  }
  .menu {
    width: 100%;
    display: none;
    background-color: #fff;
    position: absolute;
    top: 60px;
    left: 0;
    ul {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 0;
    }
    li {
      display: block;
      border: none;
      width: 100%;
      a {
        width: 100%;
      }
    }
    li.menu__item--link:hover {
      color: #ef7f04;
      border-top: 0px solid #ef7f04;
    }
  }
  .header__btn-menu {
    margin-top: 4px;
    margin-left: 10px;
    display: block;
  }
  .menu__item.menu__item--btn {
    display: block;
    border: none;
  }
  .menu__item.menu__item--btn.menu__item--measure {
    margin: 0;
  }
  .header__btn {
    line-height: 56px;
  }
  .header__btn-measure,
  .header__btn-calc {
    border-radius: 0;
  }

  //services
  .services__item:hover {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  }
  .services__item-titlebox {
    padding-right: 50px;
  }
}

@media (max-width: 680px) {
  .banner__inner {
    padding: 70px 85px;
  }
  .banner__benefits {
    flex-wrap: wrap;
    text-align: center;
  }
  .banner__benefit {
    margin-right: 0 !important;
    margin-bottom: 20px;
    flex-basis: 100%;
  }
  .banner__benefit {
    color: #fff;
    min-width: 165px;
    margin-right: 44px;
    img {
      margin-bottom: 15px;
    }
    p {
      font-size: 14px;
      line-height: 20px;
    }
    &:first-child {
      margin-right: 0;
      padding-top: 0;
    }
    &:first-child p {
      margin-left: 0;
      min-width: 0;
    }
    &:first-child img {
      margin-right: 13px;
    }
    &:last-child img {
      margin-left: 8px;
      margin-bottom: 12px;
    }
  }
  .banner__description {
    margin: 0;
  }
  .banner__text {
    padding: 0;
  }
  .banner__title {
    font-size: 20px;
  }
  .banner__slogan {
    font-size: 32px;
  }
  .banner__form {
    display: none;
  }

  //services
  .services__item {
    flex-basis: 95%;
  }
  .services__item-titlebox {
    padding-right: 0;
  }
}

@media (max-width: 500px) {
  .services__item {
    padding: 25px 25px 20px;
  }
  .services__item-title {
    font-size: 20px;
  }
  .services__item-titlebox {
    margin-bottom: 10px;
  }
  .services__item-text {
    font-size: 14px;
    padding-right: 50px;
  }
}

// ------------------- MIN-WIDTH ----------------------
@media (min-width: 866px) {
  .menu {
    display: block !important;
  }
}
