@media (max-width: 1300px) {
  .swiper-button-prev-s,
  .swiper-button-prev-b,
  .swiper-button-prev-p,
  .swiper-button-prev-e,
  // .swiper-button-prev-r,
  .swiper-button-prev-sert,
  .swiper-button-prev-port {
    left: 70px;
    z-index: 100;
  }
  .swiper-button-next-s,
  .swiper-button-next-b,
  .swiper-button-next-p,
  .swiper-button-next-e,
  // .swiper-button-next-r,
  .swiper-button-next-sert,
  .swiper-button-next-port {
    right: 70px;
    z-index: 100;
  }
  .products__description {
    padding: 70px 80px 20px 40px;
  }
}

@media (max-width: 1240px) {
  //header
  .header {
    min-height: 60px;
  }
  .menu ul {
    gap: 15px;
  }
  .menu li {
    font-size: 12px;
    line-height: 56px;
  }
  .logo img {
    width: 50px;
  }
  .header__btn {
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    color: #fff;
    padding: 0 19px;
    border-radius: 3px;
    position: relative;
  }
  .header__btn-measure {
    background-color: #ef7f04;
    &::before {
      content: '';
    }
  }
  .header__btn-calc {
    background-color: #3b3a63;
    &::before {
      content: '';
    }
  }

  //banner
  .banner__inner {
    flex-direction: column;
    align-items: center;
    padding: 70px 85px;
  }
  .banner__description {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 50px;
  }
  .banner__benefit:last-child {
    margin-right: 0;
  }
  .banner__benefit {
    margin-right: 40px;
  }
  .banner__form {
    padding-bottom: 43px;
  }
  .banner__form::after {
    content: '';
  }

  //services
  .services__tiles {
    justify-content: center;
  }
  .services__item {
    flex-basis: 70%;
  }
  .services__item-titlebox {
    padding-right: 275px;
  }

  //products
  .swiper-button-prev-s,
  .swiper-button-prev-b,
  .swiper-button-prev-p,
  .swiper-button-prev-e,
  // .swiper-button-prev-r,
  .swiper-button-prev-sert,
  .swiper-button-prev-port {
    left: 60px;
  }
  .swiper-button-next-s,
  .swiper-button-next-b,
  .swiper-button-next-p,
  .swiper-button-next-e,
  // .swiper-button-next-r,
  .swiper-button-next-sert,
  .swiper-button-next-port {
    right: 60px;
  }
  .products__description {
    padding: 70px 100px 20px 40px;
  }

  //about
  .about__algorithm-inner {
    width: 80%;
    margin: 0 auto;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .about__algorithm-img {
    margin-bottom: 8px;
  }
  .about__reviews-text {
    padding: 0 80px;
  }
  .about__benefits {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }
  .about__sertificates-wrapper {
    padding: 0 92px 0 100px;
  }
  .portfolio__item-description {
    text-align: center;
  }

  //contacts
  .contacts__form::before {
    content: '';
  }
}

@media (max-width: 1020px) {
  .menu li {
    margin-right: 13px;
    &.menu__item--measure {
      margin-right: 10px;
      margin-left: 25px;
    }
  }

  //services
  .services__item-titlebox {
    padding-right: 150px;
  }

  //products
  .swiper-button-prev-s,
  .swiper-button-prev-b,
  .swiper-button-prev-p,
  .swiper-button-prev-e,
  // .swiper-button-prev-r,
  .swiper-button-prev-sert,
  .swiper-button-prev-port {
    left: 35px;
  }
  .swiper-button-next-s,
  .swiper-button-next-b,
  .swiper-button-next-p,
  .swiper-button-next-e,
  // .swiper-button-next-r,
  .swiper-button-next-sert,
  .swiper-button-next-port {
    right: 35px;
  }
  .products__description {
    padding: 50px 80px 20px 40px;
  }

  //about
  .about__description-left {
    flex-direction: column;
    justify-content: space-around;
  }
  .about__description-logo {
    display: block;
  }
  .about__description-text {
    padding: 0;
  }
  .about__reviews-header {
    flex-direction: column;
  }
  .about__reviews-name {
    margin-bottom: 10px;
  }
  .about__reviews-text {
    padding: 0 40px;
  }

  //portfolio
  .swiper-button-prev-port {
    left: 60px;
  }
  .swiper-button-next-port {
    right: 60px;
  }
  .portfolio__item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .portfolio__item {
    gap: 50px;
  }

  //faq
  .faq__wrapper {
    padding: 40px 50px 50px;
    background-color: #ef7f1a;
    border-radius: 3px;
  }
  .faq__item {
    padding: 20px;
  }

  //contacts
  .contacts__wrapper {
    // display: block;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
  .contacts__text {
    max-width: 100%;
    margin-bottom: 35px;
    padding: 0 60px;
  }
  .contacts__phones,
  .contacts__address {
    display: inline;
  }
  .contacts__email {
    margin-bottom: 0px;
  }
  .contacts__left-side {
    padding: 0;
  }

  .popup__services {
    z-index: 9997;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    background-color: white;
    border-radius: 0;
    padding: 50px 70px;
  }
  .popup__services-header {
    flex-direction: column-reverse;
    align-items: center;
  }
  .popup__services-description {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 0;
    text-align: center;
    margin-bottom: 20px;
  }
  .popup__services-title {
    margin-bottom: 15px;
    font-size: 20px;
  }
  .popup__services-text {
    margin-bottom: 20px;
    font-size: 14px;
  }
  .popup__services-benefits-box {
    min-height: 90px;
  }
  .popup__services-benefits {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 31px;
    text-align: center;
  }
  .popup__services-benefits-img {
    display: none;
  }
  .header__btn.header__btn-calc.popup__services-btn.btn-calc.btn {
    margin-right: 0;
  }
  // .measure__form {
  //   height: 100%;
  //   border-radius: 0;
  //   padding: 130px 43px 70px;
  //   &-input {
  //     width: 100%;
  //   }
  // }
  // .calc__form {
  //   height: 100%;
  //   border-radius: 0;
  //   padding: 130px 43px 70px;
  //   &-input {
  //     width: 100%;
  //   }
  // }
}

@media (max-width: 865px) {
  .btn:hover {
    box-shadow: 0px 0px 0px 0px;
  }
  .header__inner {
    min-height: 60px;
  }
  .menu {
    width: 100%;
    display: none;
    background-color: #fff;
    position: absolute;
    top: 60px;
    left: 0;
    ul {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 0;
    }
    li {
      display: block;
      border: none;
      width: 100%;
      a {
        width: 100%;
      }
    }
    li.menu__item--link:hover {
      color: #ef7f04;
      border-top: 0px solid #ef7f04;
    }
  }
  .header__btn-menu {
    margin-top: 4px;
    margin-left: 10px;
    display: block;
  }
  .menu__item.menu__item--btn {
    display: block;
    border: none;
  }
  .menu__item.menu__item--btn.menu__item--measure {
    margin: 0;
  }
  .header__btn {
    line-height: 56px;
  }
  .header__btn-measure,
  .header__btn-calc {
    border-radius: 0;
  }

  //services
  .services__item:hover {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  }
  .services__item-titlebox {
    padding-right: 20px;
  }

  //products
  .swiper-button-prev-s,
  .swiper-button-prev-b,
  .swiper-button-prev-p,
  .swiper-button-prev-e,
  // .swiper-button-prev-r,
  // .swiper-button-prev-sert,
  // .swiper-button-prev-port,
  .swiper-button-next-s,
  .swiper-button-next-b,
  .swiper-button-next-p,
  .swiper-button-next-e
  // .swiper-button-next-r,
  // .swiper-button-next-sert,
  // .swiper-button-next-port
  {
    top: 60%;
  }
  .products__item {
    align-items: center;
    flex-direction: column;
  }
  .products__item-title,
  .products__item-text {
    text-align: center;
  }
  .products__item-text {
    margin: 0 auto 25px;
  }
  .products__item-image {
    width: 100%;
    img {
      height: 350px;
    }
  }
  .products__description {
    width: 80%;
    padding: 30px 40px 20px;
  }

  //about
  .about__description {
    flex-direction: column;
  }
  .about__description-left {
    flex-direction: row;
    align-items: center;
    gap: 50px;
    width: 100%;
  }
  .about__description-logo {
    height: 100%;
  }
  .about__description-right {
    height: 310px;
    width: 100%;
  }
  .about__nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7px;
  }
  .about__algorithm-inner {
    width: 100%;
  }
  .about__reviews-text {
    padding: 0 10px;
  }
  .about__benefits {
    grid-template-columns: repeat(1, 1fr);
  }
  .about__benefits-img.img-slim {
    margin-left: 27px;
  }
  //portfolio
  .portfolio__slider-item-inner img {
    width: 75%;
    height: 300px;
  }
  .swiper-button-prev-port,
  .swiper-button-next-port {
    top: 50%;
  }

  //contacts
  // .contacts__row {
  //   margin-bottom: 0px;
  // }
  .contacts__phones {
    display: inline-block;
    width: 330px;
    margin-bottom: 0;
    &::before {
      content: url(../images/contacts-icon-phone.svg);
      position: absolute;
      width: 25px;
      height: 27px;
      top: 18px;
      left: 25px;
    }
  }

  //footer
  .footer__wrapper {
    flex-direction: column;
  }
  .footer__copyright {
    line-height: 120px;
  }
  .footer__link {
    display: block;
    margin-bottom: 30px;
  }
  .footer__right-side {
    margin-bottom: 30px;
  }
}

@media (max-width: 680px) {
  .banner__inner {
    padding: 70px 85px;
  }
  .banner__benefits {
    flex-wrap: wrap;
    text-align: center;
  }
  .banner__benefit {
    margin-right: 0 !important;
    margin-bottom: 20px;
    flex-basis: 100%;
  }
  .banner__benefit {
    color: #fff;
    min-width: 165px;
    margin-right: 44px;
    img {
      margin-bottom: 15px;
    }
    p {
      font-size: 14px;
      line-height: 20px;
    }
    &:first-child {
      margin-right: 0;
      padding-top: 0;
    }
    &:first-child p {
      margin-left: 0;
      min-width: 0;
    }
    &:first-child img {
      margin-right: 13px;
    }
    &:last-child img {
      margin-left: 8px;
      margin-bottom: 12px;
    }
  }
  .banner__description {
    margin: 0;
  }
  .banner__text {
    padding: 0;
  }
  .banner__title {
    font-size: 20px;
  }
  .banner__slogan {
    font-size: 32px;
  }
  .banner__form {
    display: none;
  }

  //services
  .services__item {
    flex-basis: 95%;
  }
  .services__item-titlebox {
    padding-right: 0;
  }

  //products
  .products__nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7px;
  }
  .swiper-button-prev-s,
  .swiper-button-prev-b,
  .swiper-button-prev-p,
  .swiper-button-prev-e,
  // .swiper-button-prev-r,
  // .swiper-button-prev-sert,
  // .swiper-button-prev-port,
  .swiper-button-next-s,
  .swiper-button-next-b,
  .swiper-button-next-p,
  .swiper-button-next-e
  // .swiper-button-next-r,
  // .swiper-button-next-sert,
  // .swiper-button-next-port
  {
    display: none;
  }

  //benefits
  .benefits__wrapper {
    padding: 36px 30px 60px;
  }

  //about
  .about__description-logo img {
    width: 100px;
  }
  .about__algorithm {
    padding: 70px 30px 50px;
  }
  .about__reviews-header {
    margin-bottom: 40px;
  }
  .about__algorithm-inner {
    grid-template-columns: 1fr;
  }
  .about__reviews-item-inner {
    padding: 63px 102px 150px;
  }
  .about__algorithm-item {
    margin-bottom: 30px;
  }
  .about__reviews-button-wrapper {
    position: absolute;
    top: initial;
    bottom: 50px;
    right: 50%;
    transform: translate(50%);
    z-index: 5;
  }
  .about__reviews-text {
    padding: 0px;
  }

  //portfolio
  .portfolio__slider-item-inner img {
    width: 100%;
    height: 250px;
  }
  .portfolio__slider-box {
    padding: 43px 55px 15px;
  }
  .swiper-button-prev-port {
    left: 50px;
  }
  .swiper-button-next-port {
    right: 50px;
  }
  .portfolio__item-header {
    flex-direction: column;
  }
  .portfolio__item-date {
    margin: 0 0 50px;
  }
  .portfolio__item-address::before {
    left: 50%;
    top: -45px;
    transform: translateX(-50%);
  }
  .portfolio__wrapper {
    padding: 100px 20px 60px;
  }
  .portfolio__item-close {
    right: 50%;
    top: 45px;
    transform: translateX(50%);
  }

  //faq
  .faq__wrapper {
    padding: 40px 35px;
  }
  .faq__title {
    margin-bottom: 25px;
  }

  //contacts
  .contacts__text {
    padding: 10px;
  }

  //popup
  .popup__measure,
  .popup__calc,
  .popup__review {
    z-index: 9997;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    background-color: white;
  }
  .measure__form {
    height: 100%;
    border-radius: 0;
    padding: 130px 43px 70px;
    &-input {
      width: 100%;
    }
  }
  .calc__form {
    height: 100%;
    border-radius: 0;
    padding: 130px 43px 70px;
    &-input {
      width: 100%;
    }
  }
  .review__form {
    height: 100%;
    border-radius: 0;
    padding: 130px 43px 70px;
    &-input {
      width: 100%;
    }
  }
  .popup__services {
    padding: 20px 50px;
  }
  .popup__services-benefits {
    display: none;
  }
  .popup__services-description {
    margin-bottom: 30px;
  }
  .popup__services-title {
    font-size: 24px;
    margin-bottom: 25px;
  }
  .popup__services-text {
    font-size: 16px;
    margin-bottom: 35px;
  }
  .header__btn.popup__services-btn {
    font-size: 16px;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 500px) {
  .services__item {
    padding: 25px 25px 20px;
  }
  .services__item-title {
    font-size: 20px;
  }

  .feature__box span {
    font-size: 14px;
  }
  .services__item-titlebox {
    margin-bottom: 10px;
  }
  .services__item-text {
    font-size: 14px;
    padding-right: 50px;
  }

  //products
  .products__nav-item {
    font-size: 16px;
  }
  .products__item-title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .products__item-text {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .feature__box li {
    margin-bottom: 7px;
  }

  //benefits
  .benefits__wrapper {
    padding: 36px 0px 60px;
  }

  //about
  .about__description {
    gap: 0;
  }
  .about__description-logo {
    display: none;
  }
  .about__nav-item {
    font-size: 16px;
  }
  .about__nav {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 7px;
  }
  .about__reviews-header {
    margin-left: 0px;
  }
  .about__reviews-text {
    font-size: 13px;
  }
  .about__reviews-item-inner {
    padding: 63px 50px 150px;
  }

  .swiper-button-prev-r {
    left: 30px;
  }
  .swiper-button-next-r {
    right: 30px;
  }
  .about__reviews-button {
    padding: 0 18px;
  }
  .about__reviews-button::before {
    content: '';
  }
  .about__benefits-item {
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
  }
  .about__benefits-img {
    margin-right: 0;
  }
  .about__sertificates-wrapper {
    padding: 0 60px;
  }
  .about__sertificates-item-inner {
    padding: 60px 0;
  }
  .about__benefits-img.img-slim {
    margin-left: 0px;
  }
  .swiper-button-prev-sert,
  .swiper-button-next-sert {
    top: 50%;
  }

  //portfolio
  .portfolio__slider-box {
    padding: 43px 0px 0px;
  }
  .swiper-button-prev-port,
  .swiper-button-next-port {
    display: none;
  }
  .portfolio__item-slider-wrapper {
    width: 300px;
  }
  .portfolio__item-img img {
    width: 300px;
  }

  //faq
  .faq__wrapper {
    padding: 30px 20px;
  }
  .faq__item {
    font-size: 14px;
  }
  .faq__answer {
    font-size: 12px;
  }

  //contacts
  .contacts__wrapper {
    padding: 0;
  }
  .contacts__title {
    margin-bottom: 30px;
  }
  .contacts__form {
    padding: 40px 25px;
  }
  .contacts__form-input {
    width: 100%;
  }
  .contacts__form-agreement-text {
    // text-align: right;
    padding-left: 20px;
  }
  .contacts__form-agreement {
    padding-left: 20px;
  }

  //popup
  .measure__form-title {
    padding-left: 0;
    &::before {
      content: '';
    }
  }
  .measure__form-agreement-text {
    line-height: 26px;
    padding-right: 40px;
    padding-left: 40px;
    text-align: center;
  }
  .measure__form-agreement label::before {
    top: 0;
    left: 0;
  }
  .measure__form-checkbox:checked + label::after {
    top: 5px;
    left: 4px;
  }
  .calc__form-title {
    padding-left: 0;
    &::before {
      content: '';
    }
  }
  .calc__form-agreement-text {
    line-height: 26px;
    padding-right: 40px;
    padding-left: 40px;
    text-align: center;
  }
  .calc__form-agreement label::before {
    top: 0;
    left: 0;
  }
  .calc__form-checkbox:checked + label::after {
    top: 5px;
    left: 4px;
  }
  .review__form-title {
    padding-left: 0;
    &::before {
      content: '';
    }
  }
  .review__form-agreement-text {
    line-height: 26px;
    padding-right: 40px;
    padding-left: 40px;
    text-align: center;
  }
  .review__form-agreement label::before {
    top: 0;
    left: 0;
  }
  .review__form-checkbox:checked + label::after {
    top: 5px;
    left: 4px;
  }
  .review__form {
    padding: 70px 43px 0;
  }
}

// ------------------- MIN-WIDTH ----------------------
@media (min-width: 866px) {
  .menu {
    display: block !important;
  }
}
