:root {
  --color-white: #fff;
  --color-black: #000;
  --color-orange: #ef7f04;
  --color-dark-blue: #3b3a63;
  --color-gray: #e2e2e2;
  --color-light-gray: #eeeef3;
  --color-dark-gray: #8f8f8f;
  --color-font: #2f2f51;
  --color-form-link: #4b67af;
  --color-placeholder: #424268;
}
