@import 'fonts';
@import 'vars';
@import 'global';

// header
.header {
  min-height: 100px;
  background-color: #fff;
  position: relative;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  img {
    max-width: 90px;
  }
}
.menu {
  z-index: 100;
  ul {
    font-size: 0;
  }
  li {
    font-size: 16px;
    display: inline-block;
    margin-right: 24px;
    line-height: 96px;
    border-top: 4px solid transparent;
    &.menu__item--measure {
      margin-right: 10px;
      margin-left: 50px;
    }
    &.menu__item--calc {
      margin-right: 0px;
    }
  }
  li.menu__item--link:hover {
    color: #ef7f04;
    border-top: 4px solid #ef7f04;
    transition: all 0.3s;
    a {
      color: #ef7f04;
    }
  }
  &__item--btn {
    padding: 0;
  }
  a.header__btn-measure {
    margin-right: 0px;
    border: none;
  }
  a.header__btn-calc {
    border: none;
  }
}
.header__btn {
  font-size: 13px;
  font-weight: 700;
  line-height: 40px;
  color: #fff;
  padding: 0 16px 0 47px;
  border-radius: 3px;
  position: relative;
}
.header__btn-menu {
  width: 30px;
  height: 30px;
  background-color: #3b3a63;
  display: none;
  padding: 0;
  position: relative;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.header__btn-measure {
  background-color: #ef7f04;
  border: none;
  &::before {
    content: url(../images/rule.svg);
    position: absolute;
    width: 20px;
    height: 18px;
    top: 4px;
    left: 14px;
  }
}
.header__btn-calc {
  background-color: #3b3a63;
  border: none;
  &::before {
    content: url(../images/calculator.svg);
    position: absolute;
    width: 20px;
    height: 18px;
    top: 4px;
    left: 14px;
  }
}

// popup
.hidden {
  display: none;
}
.overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
}
.popup__measure,
.popup__calc,
.popup__review {
  z-index: 9997;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 595px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  border-radius: 11px;
}
.measure__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ef7f1a;
  border-radius: 10px;
  padding: 55px 43px 70px;
  position: relative;
  input::placeholder {
    color: #000;
  }
  &-title {
    font-size: 24px;
    font-weight: 700;
    padding-left: 50px;
    margin-bottom: 27px;
    color: #fff;
    text-align: center;
    position: relative;
    &::before {
      content: url(../images/rule2.svg);
      display: block;
      position: absolute;
      top: -2px;
      left: 0;
    }
  }
  &-input {
    font-size: 16px;
    line-height: 53px;
    width: 395px;
    border-radius: 3px;
    padding: 0 16px;
    margin-bottom: 15px;
    background-color: #fff;
    color: #424268;
    border: none;
  }
  &-agreement {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #fff;
    &-text {
      line-height: 26px;
      padding-left: 24px;
    }
    label {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -15px;
        display: inline-block;
        width: 25px;
        height: 25px;
        border: 1px solid #fff;
        border-radius: 3px;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
      }
    }
    a {
      color: #2f2f51;
    }
  }
  &-checkbox {
    margin-right: 10px;
    position: absolute;
    z-index: -1;
    opacity: 0;
    &:checked + label::after {
      content: '';
      position: absolute;
      top: 5px;
      left: -9px;
      width: 15px;
      height: 15px;
      background-image: url(../images/contacts-check-mark.svg);
      background-size: cover;
    }
  }
  &-btn {
    font-size: 14px;
    font-weight: 700;
    line-height: 53px;
    padding: 0 69px;
    margin: 42px 0 0;
    color: #ef7f04;
    background-color: #fff;
    border-radius: 3px;
    border: none;
    cursor: pointer;
  }
  &__close-btn {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 30px;
    right: 30px;
    width: 25px;
    height: 25px;
    &:hover {
      cursor: pointer;
    }
  }
}
.calc__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f2f51;
  border-radius: 10px;
  padding: 55px 43px 70px;
  position: relative;
  input::placeholder {
    color: #000;
  }
  &-title {
    font-size: 24px;
    font-weight: 700;
    padding-left: 50px;
    margin-bottom: 27px;
    color: #fff;
    text-align: center;
    position: relative;
    &::before {
      content: url(../images/popup-calculator.svg);
      display: block;
      position: absolute;
      top: -2px;
      left: 0;
    }
  }
  &-input {
    font-size: 16px;
    line-height: 53px;
    width: 395px;
    border-radius: 3px;
    padding: 0 16px;
    margin-bottom: 15px;
    background-color: #fff;
    color: #424268;
    border: none;
  }
  &-agreement {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #fff;
    &-text {
      line-height: 26px;
      padding-left: 24px;
    }
    label {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -15px;
        display: inline-block;
        width: 25px;
        height: 25px;
        border: 1px solid #fff;
        border-radius: 3px;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
      }
    }
    a {
      color: #ef7f04;
    }
  }
  &-checkbox {
    margin-right: 10px;
    position: absolute;
    z-index: -1;
    opacity: 0;
    &:checked + label::after {
      content: '';
      position: absolute;
      top: 5px;
      left: -9px;
      width: 15px;
      height: 15px;
      background-image: url(../images/contacts-check-mark.svg);
      background-size: cover;
    }
  }
  &-btn {
    font-size: 14px;
    font-weight: 700;
    line-height: 53px;
    padding: 0 69px;
    margin: 42px 0 0;
    color: #2f2f51;
    background-color: #fff;
    border-radius: 3px;
    border: none;
    cursor: pointer;
  }
  &__close-btn {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 30px;
    right: 30px;
    width: 25px;
    height: 25px;
    &:hover {
      cursor: pointer;
    }
  }
}

.review__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 55px 43px 70px;
  position: relative;
  input::placeholder {
    color: #000;
  }
  &-title {
    font-size: 24px;
    font-weight: 700;
    padding-left: 35px;
    margin-bottom: 35px;
    color: #2f2f51;
    text-align: center;
    position: relative;
    &::before {
      content: url(../images/popup-review.svg);
      display: block;
      position: absolute;
      top: 2px;
      left: -25px;
    }
  }
  &-input {
    font-size: 16px;
    line-height: 53px;
    width: 395px;
    border-radius: 3px;
    padding: 0 16px;
    margin-bottom: 15px;
    background-color: #e2e2e2;
    border: none;
  }
  &-agreement {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #2f2f51;
    &-text {
      line-height: 26px;
      padding-left: 24px;
    }
    label {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -17px;
        display: inline-block;
        width: 25px;
        height: 25px;
        border: 1px solid #fff;
        border-radius: 3px;
        background-color: #e2e2e2;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
      }
    }
    a {
      color: #ef7f04;
    }
  }
  &-checkbox {
    margin-right: 10px;
    position: absolute;
    z-index: -1;
    opacity: 0;
    &:checked + label::after {
      content: '';
      position: absolute;
      top: 5px;
      left: -11px;
      width: 15px;
      height: 15px;
      background-image: url(../images/contacts-check-mark.svg);
      background-size: cover;
    }
  }
  &-btn {
    font-size: 16px;
    font-weight: 700;
    line-height: 53px;
    padding: 0 69px;
    margin: 42px 0 0;
    color: #fff;
    background-color: #e67e22;
    border-radius: 3px;
    border: none;
    cursor: pointer;
  }
  &__close-btn {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 30px;
    right: 30px;
    width: 25px;
    height: 25px;
    &:hover {
      cursor: pointer;
    }
  }
  &--textarea {
    padding: 17px;
    line-height: 22px;
    min-height: 134px;
    resize: none;
    &:scroll {
      background-color: #fff;
      width: 20px;
    }
  }
}

.about__video {
  aspect-ratio: 16/9;
  z-index: 9999;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  iframe {
    width: 100%;
    height: 100%;
  }
}

.btn {
  transition: all 0.2s;
}
.btn:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.popup__services {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  padding: 50px 110px;
  background-color: #fefefe;
  border-radius: 3px;
  &-header {
    display: flex;
    margin-bottom: 30px;
  }
  &-slider {
    margin-right: 91px;
  }
  &-slider-wrapper {
    max-width: 398px;
    height: 229px;
    position: relative;
  }
  &-img img {
    width: 307px;
    height: 229px;
    object-fit: cover;
  }
  &-description {
    padding-top: 15px;
  }
  &-title {
    font-size: 24px;
    font-weight: 700;
    color: #2f2f51;
    margin-bottom: 25px;
  }
  &-text {
    font-size: 16px;
    font-weight: 400;
    color: 000;
    margin-bottom: 25px;
    max-width: 250px;
  }
  &-btn {
    margin-right: 14px;
  }
}

.popup__services-benefits {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 35px;
  row-gap: 31px;
  &-item {
    display: flex;
    align-items: center;
  }
  &-img {
    margin-right: 10px;
  }
  &-title {
    font-size: 14px;
    font-weight: 700;
    color: #2f2f51;
    margin-bottom: 5px;
  }
  &-text {
    font-size: 13px;
  }
}

.swiper-pagination-9.popup__services-slider-pagination.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-10.popup__services-slider-pagination.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-11.popup__services-slider-pagination.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-12.popup__services-slider-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  position: absolute;
  bottom: 12px;
  left: 26%;
  width: 100%;
  z-index: 100;
}
.swiper-pagination-9 .swiper-pagination-bullet,
.swiper-pagination-10 .swiper-pagination-bullet,
.swiper-pagination-11 .swiper-pagination-bullet,
.swiper-pagination-12 .swiper-pagination-bullet {
  margin: 0 6px !important;
  background: #fff;
  opacity: 1;
}
.swiper-pagination-9 .swiper-pagination-bullet.swiper-pagination-bullet-active,
.swiper-pagination-10 .swiper-pagination-bullet.swiper-pagination-bullet-active,
.swiper-pagination-11 .swiper-pagination-bullet.swiper-pagination-bullet-active,
.swiper-pagination-12
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #ef7f1a;
}
.popup__services-close-btn {
  position: absolute;
  background-color: transparent;
  border: none;
  top: 30px;
  right: 30px;
  width: 25px;
  height: 25px;
  path {
    stroke: #000;
  }
  &:hover {
    cursor: pointer;
  }
}

// banner
.banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 68px;
}

.banner__inner {
  display: flex;
  gap: 30px;
  padding: 70px 85px 65px 67px;
}

.banner__description {
  max-width: 575px;
  margin-top: 60px;
}

.banner__text {
  margin: 0 0 26px;
  padding: 0 0 0 16px;
}

.banner__title {
  font-size: 24px;
  font-weight: 700;
  color: #ef7f04;
  margin-bottom: 3px;
}

.banner__slogan {
  max-width: 470px;
  font-size: 36px;
  font-weight: 100;
  color: #fff;
}

.banner__benefits {
  display: flex;
  justify-content: start;
}

.banner__benefit {
  color: #fff;
  min-width: 165px;
  margin-right: 35px;
  img {
    margin-bottom: 15px;
  }
  p {
    font-size: 14px;
    line-height: 20px;
  }
  &:first-child {
    margin-right: 45px;
    padding-top: 3px;
  }
  &:first-child p {
    margin-left: 16px;
    min-width: 165px;
  }
  &:last-child img {
    margin-bottom: 12px;
  }
}

.banner__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 406px;
  background-color: #fff;
  border-radius: 10px;
  padding: 43px 43px 65px;
  position: relative;
  &-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 27px;
    color: #2f2f51;
    text-align: center;
  }
  &-input {
    font-size: 14px;
    line-height: 40px;
    width: 322px;
    border-radius: 3px;
    padding: 0 16px;
    margin-bottom: 15px;
    background-color: #e2e2e2;
    color: #424268;
    border: none;
  }
  &-agreement {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    &-text {
      padding-left: 34px;
    }
    label {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        display: inline-block;
        width: 25px;
        height: 25px;
        border: 1px solid #e2e2e2;
        border-radius: 3px;
        background-color: #e2e2e2;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
      }
    }
    a {
      color: #4b67af;
    }
  }
  &-checkbox {
    margin-right: 10px;
    position: absolute;
    z-index: -1;
    opacity: 0;
    &:checked + label::after {
      content: '';
      position: absolute;
      top: -6px;
      left: 6px;
      width: 23px;
      height: 24px;
      background-image: url(../images/check-mark.svg);
      background-size: cover;
    }
  }
  &-btn {
    font-size: 14px;
    font-weight: 700;
    line-height: 55px;
    padding: 0 40px;
    margin: 25px 0 0;
    color: #fff;
    background-color: #ef7f04;
    border-radius: 3px;
    border: none;
    cursor: pointer;
  }
  &::after {
    content: url(../images/roulette.png);
    width: 607px;
    height: 102px;
    position: absolute;
    bottom: -36px;
    left: -86px;
  }
}

// services
.services {
  margin-bottom: 90px;
}
.services__title {
  margin-bottom: 48px;
}
.services__tiles {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.services__item {
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  width: 595px;
  padding: 55px 50px 35px;
  position: relative;
  border-radius: 3px;
  color: #2f2f51;
  transition: all 0.3s;
  &-titlebox {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding-right: 100px;
    font-size: 24px;
    font-weight: 700;
  }
  &-icon {
    margin-right: 22px;
  }
  &-text {
    max-width: 300px;
  }
  &-arrow {
    background-image: url(../images/services-arrow.svg);
    position: absolute;
    width: 40px;
    height: 21px;
    right: 27px;
    bottom: 27px;
  }
  &-arrow.orange {
    background-image: url(../images/services-arrow-orange.svg);
    position: absolute;
    width: 40px;
    height: 21px;
    right: 27px;
    bottom: 27px;
    opacity: 0;
    transition: all 0.2s;
  }
  &:hover {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    .services__item-arrow.orange {
      opacity: 1;
    }
  }
}

// products
.products {
  margin-bottom: 54px;
}
.products__title {
  margin-bottom: 34px;
}
.products__description {
  width: 42%;
  padding: 70px 40px 20px;
}
.products__slider {
  max-width: 1145px;
  margin: 0 auto;
}
.products__slider-box {
  position: relative;
  display: none;
  margin-bottom: 70px;
  border-radius: 3px;
}
.products__slider-box--active {
  display: block;
  opacity: 1;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.products__slider-box-wrapper {
  display: flex;
  flex-direction: column;
}

.products__item {
  display: flex;
  background-color: #fff;
  border-radius: 3px;
  padding: 0;
  &-image {
    width: 50%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-left-radius: 3px;
      border-end-start-radius: 3px;
    }
  }
  &-title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #ef7f04;
  }
  &-text {
    max-width: 400px;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 40px;
  }
  &-features {
    font-size: 18px;
  }
}
.feature {
  &__name {
    font-size: 18px;
  }
  &__value {
    font-size: 18px;
    font-weight: 700;
  }
}
.feature__box {
  li {
    border-bottom: 2px dotted #cfcfcf; /* Необязателен. Здесь задается толщина, тип и цвет точек */
    position: relative;
    margin-bottom: 20px; /* Необязателен. Задается для установки расстояния между блоками li */
  }
  span {
    background-color: #fff;
    bottom: -5px;
    &.feature__name {
      position: relative;
      margin-right: 7em; /* Задается чтобы текст не заходил на номера страниц */
      padding-right: 2px; /* Необязателен. Задается чтобы точки не подходили вплотную к концу текста */
    }
    &.feature__value {
      position: absolute;
      right: 0;
      padding-left: 2px; /* Необязателен. Задается чтобы точки не подходили вплотную к номерам страниц */
    }
  }
}

// products-slider
.products__nav {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  &-item {
    background: none;
    min-width: 131px;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    padding: 0 10px;
    border: none;
    border-radius: 3px;
    &:hover {
      cursor: pointer;
    }
  }
  &-item img {
    object-fit: cover;
  }
}
.products__nav-item--active {
  background-color: #ef7f1a;
  color: #fff;
  font-weight: 700;
  transition: background-color 0.2s;
}

.swiper-button-prev-s,
.swiper-button-prev-b,
.swiper-button-prev-p,
.swiper-button-prev-e,
.swiper-button-prev-r,
.swiper-button-prev-sert,
.swiper-button-prev-port {
  position: absolute;
  top: 50%;
  left: 0px;
  &:hover {
    cursor: pointer;
  }
  &::after {
    content: url(../images/slider-arrow-active-left.png);
    position: absolute;
    top: 0;
    left: -20px;
  }
  &:hover::after {
    content: url(../images/slider-arrow-hover-left.png);
    position: absolute;
    top: 0;
    left: -20px;
  }
}
.swiper-button-prev-r,
.swiper-button-prev-sert {
  z-index: 10;
  left: 60px;
}
.swiper-button-prev-port {
  z-index: 10;
  top: 200px;
  left: 65px;
}

.swiper-button-next-s,
.swiper-button-next-b,
.swiper-button-next-p,
.swiper-button-next-e,
.swiper-button-next-r,
.swiper-button-next-sert,
.swiper-button-next-port {
  position: absolute;
  top: 50%;
  right: 0px;
  &:hover {
    cursor: pointer;
  }
  &::after {
    content: url(../images/slider-arrow-active.png);
    position: absolute;
    top: 0;
    right: -20px;
  }
  &:hover::after {
    content: url(../images/slider-arrow-hover.png);
    position: absolute;
    top: 0;
    right: -20px;
  }
}
.swiper-button-next-r,
.swiper-button-next-sert {
  z-index: 10;
  right: 60px;
}
.swiper-button-next-port {
  z-index: 10;
  top: 200px;
  right: 65px;
}
.swiper-button-prev-s.swiper-button-disabled-s,
.swiper-button-prev-b.swiper-button-disabled-b,
.swiper-button-prev-p.swiper-button-disabled-p,
.swiper-button-prev-e.swiper-button-disabled-e,
.swiper-button-prev-r.swiper-button-disabled-r,
.swiper-button-prev-sert.swiper-button-disabled-sert,
.swiper-button-prev-port.swiper-button-disabled-port {
  &:hover {
    cursor: default;
  }
  &::after {
    content: url(../images/slider-arrow-disabled-left.png);
  }
}
.swiper-button-next-s.swiper-button-disabled-s,
.swiper-button-next-b.swiper-button-disabled-b,
.swiper-button-next-p.swiper-button-disabled-p,
.swiper-button-next-e.swiper-button-disabled-e,
.swiper-button-next-r.swiper-button-disabled-r,
.swiper-button-next-sert.swiper-button-disabled-sert,
.swiper-button-next-port.swiper-button-disabled-port {
  &:hover {
    cursor: default;
  }
  &::after {
    content: url(../images/slider-arrow-disabled.png);
  }
}

// benefits
.benefits {
  margin-bottom: 100px;
  text-align: center;
}
.benefits__wrapper {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 36px 40px 60px;
  border-radius: 3px;
  margin-bottom: 56px;
}
.benefits__title img {
  max-width: 304px;
  margin-bottom: 45px;
}
.benefits__inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.benefits__item {
  color: #fff;
  text-align: center;
  img {
    margin-bottom: 30px;
  }
  p {
    max-width: 190px;
  }
}
a.benefits__btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 55px;
  color: #fff;
  padding: 0 54px 0 76px;
  border-radius: 3px;
  position: relative;
  background-color: #3b3a63;
  &::before {
    content: url(../images/calculator.svg);
    position: absolute;
    width: 20px;
    height: 18px;
    top: 4px;
    left: 31px;
  }
}

// about
.about {
  margin-bottom: 82px;
}
.about__nav {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  &-item {
    background: none;
    min-width: 180px;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    padding: 0 10px;
    margin-right: 10px;
    border: none;
    border-radius: 3px;
    &:hover {
      cursor: pointer;
    }
  }
}
.about__nav-item--active {
  background-color: #ef7f1a;
  color: #fff;
  font-weight: 700;
  transition: background-color 0.2s;
}

.about__title {
  margin-bottom: 32px;
}
.about__slider-box {
  position: relative;
  display: none;
  background-color: #fff;
  margin-bottom: 70px;
  border-radius: 3px;
}
.about__slider-box--active {
  display: block;
  opacity: 1;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about__description {
  display: flex;
  background-color: #fff;
  border-radius: 3px;
  min-height: 461px;
  &-left {
    display: flex;
    width: 50%;
    background-color: #fff;
    padding: 46px 50px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  &-right {
    position: relative;
    width: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  &-logo {
    align-self: flex-start;
  }
  &-text {
    padding-top: 215px;
    line-height: 22px;
  }
  &-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &:hover {
      cursor: pointer;
    }
  }
}

.about__algorithm {
  background-color: #fff;
  padding: 70px;
  min-height: 461px;
  border-radius: 3px;
  &-title {
    margin-bottom: 70px;
  }
  &-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &-item {
    max-width: 250px;
  }
  &-img {
    margin-bottom: 30px;
  }
  &-text {
    line-height: 26px;
    span {
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}

.about__reviews {
  background-color: #fff;
  min-height: 461px;
  border-radius: 3px;
  position: relative;
  &-item {
    background-color: #fff;
    &-inner {
      padding: 63px 102px 100px;
    }
  }
  &-header {
    display: flex;
    margin-bottom: 64px;
  }
  &-name {
    min-width: 175px;
    font-weight: 700;
    margin-right: 60px;
  }
  &-date {
    color: #8f8f8f;
    margin-right: 15px;
  }
  &-contract {
    color: #8f8f8f;
  }
  &-text {
    color: #434343;
    padding: 0 115px;
    text-align: justify;
  }
  &-button {
    z-index: 1;
    font-weight: 700;
    line-height: 55px;
    padding: 0 28px 0 63px;
    color: #fff;
    background-color: #ef7f1a;
    border-radius: 3px;
    position: relative;
    &-wrapper {
      position: absolute;
      top: 50px;
      right: 100px;
    }
    &::before {
      content: url(../images/reviews-icon.png);
      position: absolute;
      top: 8px;
      left: 20px;
    }
  }
}

.about__sertificates {
  background-color: #fff;
  // min-height: 461px;
  border-radius: 3px;
  &-wrapper {
    padding: 0 100px;
  }
  &-item {
    background-color: #fff;
    &-inner {
      padding: 95px 0;
      img {
        width: 100%;
      }
    }
  }
}

.about__benefits {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding: 0 40px;
  &-item {
    display: flex;
    margin-bottom: 80px;
    max-width: 350px;
  }
  &-img {
    margin-right: 23px;
    align-self: center;
  }
  &-text {
    span {
      display: inline-block;
      font-weight: 700;
      text-transform: uppercase;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
}
.about__btn-wrapper {
  text-align: center;
}
a.about__btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 55px;
  color: #fff;
  padding: 0 32px 0 72px;
  border-radius: 3px;
  position: relative;
  background-color: #ef7f1a;
  &::before {
    content: url(../images/rule.svg);
    position: absolute;
    width: 20px;
    height: 18px;
    top: 4px;
    left: 31px;
  }
}

// portfolio
.portfolio {
  margin-bottom: 80px;
}

.portfolio__wrapper {
  position: relative;
  display: none;
  padding: 65px 88px;
  background-color: #fff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  min-height: 400px;
}
.portfolio__wrapper-active {
  display: block;
}

.portfolio__item {
  display: flex;
  justify-content: center;
  position: relative;
  &-description {
    padding-top: 10px;
  }
  &-header {
    display: flex;
    margin-bottom: 20px;
  }
  &-date {
    font-size: 14px;
    color: #9494a8;
    margin-right: 80px;
  }
  &-address {
    position: relative;
    &::before {
      content: url(../images/geolocation.png);
      position: absolute;
      left: -43px;
      top: -10px;
    }
  }
  &-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 23px;
  }
  &-text {
    margin-bottom: 23px;
    span {
      font-weight: 700;
    }
  }
  &-buttons a {
    margin-right: 14px;
  }
  &-close {
    background-image: url(../images/close-btn.svg);
    width: 18px;
    height: 18px;
    position: absolute;
    right: 50px;
    top: 50px;
    &:hover {
      cursor: pointer;
    }
  }
}
.portfolio__item-slider {
  margin-right: 90px;
}
.portfolio__item-slider-wrapper {
  max-width: 450px;
  height: 229px;
  position: relative;
}
.swiper-pagination-1.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  position: absolute;
  bottom: -33px;
  left: 30%;
  width: 100%;
}
.swiper-pagination-1 .swiper-pagination-bullet,
.swiper-pagination-2 .swiper-pagination-bullet,
.swiper-pagination-3 .swiper-pagination-bullet,
.swiper-pagination-4 .swiper-pagination-bullet,
.swiper-pagination-5 .swiper-pagination-bullet,
.swiper-pagination-6 .swiper-pagination-bullet,
.swiper-pagination-7 .swiper-pagination-bullet,
.swiper-pagination-8 .swiper-pagination-bullet {
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 8px)
  );
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 8px)
  );
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #2f2f51;
  background: none;
}
.swiper-pagination-1 .swiper-pagination-bullet-active,
.swiper-pagination-2 .swiper-pagination-bullet-active,
.swiper-pagination-3 .swiper-pagination-bullet-active,
.swiper-pagination-4 .swiper-pagination-bullet-active,
.swiper-pagination-5 .swiper-pagination-bullet-active,
.swiper-pagination-6 .swiper-pagination-bullet-active,
.swiper-pagination-7 .swiper-pagination-bullet-active,
.swiper-pagination-8 .swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  background-color: #ef7f1a;
}

.portfolio__item-img img {
  width: 360px;
  height: 229px;
  object-fit: cover;
}

.portfolio__slider-wrapper {
  background-color: #fff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 43px 101px 15px;
  min-height: 400px;
  position: relative;
}
.portfolio__slider-wrapper-hidden {
  display: none;
}
.portfolio__slider-item {
  background-color: #fff;
  &-inner {
    padding: 44px 0 50px;
    img {
      width: 215px;
      height: 215px;
      object-fit: cover;
      &:hover {
        filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));
        transition: all 0.2s;
      }
    }
  }
}
.swiper-portfolio {
  width: 1060px;
  padding: 0 30px;
  transform: translateX(-30px);
}
#map {
  height: 312px;
  width: 100%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

// faq
.faq {
  margin-bottom: 80px;
}
.faq__title {
  color: #fff;
  margin-bottom: 50px;
}
.faq {
  &__wrapper {
    padding: 40px 101px 63px;
    background-color: #ef7f1a;
    border-radius: 3px;
  }
  &__item {
    font-size: 18px;
    font-weight: 700;
    padding: 30px 80px 30px 30px;
    margin-bottom: 14px;
    background-color: #eeeef3;
    border-radius: 3px;
    position: relative;
    transition: all 0.3s;
    &:hover {
      color: #ef7f04;
      background-color: #fff;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
      cursor: pointer;
      .faq__arrow path {
        stroke: #ef7f04;
      }
    }
  }
  &__item--active {
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }
  &__answer {
    display: none;
    font-size: 16px;
    font-weight: 400;
    // visibility: collapse;
    opacity: 0;
    transition: all 0.3s;
  }
  &__answer--active {
    display: block;
    // visibility: visible;
    opacity: 1;
    margin-top: 25px;
  }
  .faq__arrow {
    position: absolute;
    top: 34px;
    right: 30px;
    transition: all 0.3s;
    path {
      transition: all 0.3s;
    }
    &--active {
      transform: rotateX(180deg);
    }
  }
}

// contacts
.contacts {
  margin-bottom: 40px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
  }
  &__title {
    margin-bottom: 60px;
  }
  &__phones-title {
    font-size: 18px;
    font-weight: 700;
  }
  &__phones {
    font-size: 22px;
    font-weight: 700;
    line-height: 36px;
    padding-left: 50px;
    margin-bottom: 55px;
    position: relative;
    a {
      margin-right: 30px;
    }
    &::before {
      content: url(../images/contacts-icon-phone.png);
      position: absolute;
      width: 25px;
      height: 27px;
      top: 3px;
      left: 0;
    }
  }
  &__address {
    color: #000;
    padding-left: 50px;
    margin-bottom: 35px;
    position: relative;
    &::before {
      content: url(../images/contacts-icon-tag.png);
      position: absolute;
      width: 20px;
      height: 26px;
      top: -3px;
      left: 0;
    }
  }
  &__email {
    padding-left: 50px;
    margin-bottom: 55px;
    position: relative;
    &::before {
      content: url(../images/contacts-icon-letter.png);
      position: absolute;
      width: 22px;
      height: 22px;
      top: -3px;
      left: 0;
    }
  }
  &__text {
    max-width: 230px;
    margin-bottom: 35px;
  }
  &__social-link {
    fill: #e67e22;
    transition: all 0.2s;
    margin-right: 7px;
    &:hover {
      fill: #2f2f51;
    }
  }
}

.contacts__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 512px;
  background-color: #fff;
  border-radius: 10px;
  padding: 43px 43px 65px;
  position: relative;
  &-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #2f2f51;
    text-align: center;
  }
  &-input {
    font-size: 14px;
    line-height: 53px;
    width: 395px;
    border-radius: 3px;
    padding: 0 16px;
    margin-bottom: 15px;
    background-color: #e2e2e2;
    color: #424268;
    border: none;
  }
  &--textarea {
    padding: 17px;
    line-height: 22px;
    min-height: 134px;
    resize: none;
    &:scroll {
      background-color: #fff;
      width: 20px;
    }
  }
  &-agreement {
    display: flex;
    align-items: center;
    font-size: 14px;
    &-text {
      line-height: 25px;
      padding-left: 24px;
    }
    label {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -15px;
        display: inline-block;
        width: 25px;
        height: 25px;
        border: 1px solid #e2e2e2;
        border-radius: 3px;
        background-color: #e2e2e2;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
      }
    }
    a {
      font-weight: 700;
      color: #ef7f04;
    }
  }
  &-checkbox {
    margin-right: 10px;
    position: absolute;
    z-index: -1;
    opacity: 0;
    &:checked + label::after {
      content: '';
      position: absolute;
      top: 5px;
      left: -9px;
      width: 15px;
      height: 15px;
      background-image: url(../images/contacts-check-mark.svg);
      background-size: cover;
    }
  }
  &-btn {
    font-size: 14px;
    font-weight: 700;
    line-height: 52px;
    padding: 0 55px;
    margin: 25px 0 0;
    color: #fff;
    background-color: #2f2f51;
    border-radius: 3px;
    border: none;
    cursor: pointer;
  }
  &::before {
    content: url(../images/contacts-workers-img.png);
    position: absolute;
    bottom: -44px;
    left: -318px;
  }
}

// footer
.footer {
  background-color: #2f2f51;
  color: #fff;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__left-side {
    display: flex;
    align-items: center;
  }
  &__logo {
    margin-right: 20px;
    img {
      width: 55px;
      height: 39px;
    }
  }
  &__copyright {
    line-height: 146px;
  }
  &__link {
    color: #fff;
    font-size: 14px;
    margin-left: 20px;
  }
}

// .products__nav {
//   position: relative;
// }
// .products__slider-box-hide {
//   height: 441.3px;
//   background-color: transparent;
//   position: absolute;
//   top: 70px;
//   left: 0;
// }

@import 'media';
